.App {
  text-align: center;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .App-header {
    background-attachment: scroll;
  }
}

.App-header {
  background-image: url(me.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(19, 75, 38);
  height: 1000px;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -30%);
  z-index: 2;
  width: 40%;
  padding: 10px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button:hover {
  background-color: rgb(44, 94, 44);
}

.button{
  display: inline-block;
  *display: inline;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 27);
  transition: color 2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.bold {
  font-weight: bold;
}
